[Unit]
Description=nginx
After=network.target

[Service]
Type=forking
ExecStart=/opt/app/nginx/sbin/nginx
ExecReload=/opt/app/nginx/sbin/nginx -s reload
ExecStop=/usr/local/nginx/sbin/nginx quit
PrivateTmp=true

[Install]
WantedBy=multi-user.target
